html,
body,
#slides,
#slides > li {
  height: 100%;
}

body {
  margin: 0;
  background-color: black;
}

#slides {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

#slides img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
